{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title_core %}Nem Nướng Hoa Lệ{% endblock %}
{% block seo_gg %}
<meta name="keywords"
    content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta name="author" content="">
<meta name="robots" content="noodp,index,follow">
<meta name="description"
    content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">

<!-- Facebook Meta Tags -->
<meta property="og:site_name" content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta property="og:type" content="website">
<meta property="og:title" content="Nem Nướng Hoa Lệ">
<meta property="og:url" content="Nem Nướng Hoa Lệ">
<meta property="og:description" content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta property="og:image" content="{% static 'core/images/logo-01.svg' %}">
<meta property="og:locale" content="vi-VN">
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:image:alt" content="Nem Nướng Hoa Lệ" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta itemprop="description"
    content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò ">
<meta itemprop="image" content="{% static 'core/images/logo-01.svg' %}" />
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta name="twitter:title" content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta name="twitter:description" content="Nem Nướng Hoa Lệ, Nem Nướng, Nem Thịt Lợn, Nem Thịt Bò, Nem Ngon, Nem 5 Phút, Cơm Văn Phòng, Nem Ngon, Nem Dễ Làm, Xôi Nem Nướng, Xôi Nem Thịt Lợn, Xôi Nem Thịt Bò">
<meta name="twitter:image" content="{% static 'core/images/logo-01.svg' %}">
{% endblock %}

{% block css_blocl %}
<link rel="stylesheet" href="{% static 'core/css/swiper.min.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

    * {
        box-sizing: border-box;
    }

    .bd {
        background-image: url(static/core/images/claim_term/term8.svg);
        min-height: 50vh;
        font-family: 'Fira Sans', sans-serif;
        display: flex;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .blog-slider {
        width: 95%;
        position: relative;
        max-width: 800px;
        margin: auto;
        background: #fff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 25px;
        border-radius: 25px;
        height: 400px;
        transition: all 0.3s;
    }

    @media screen and (max-width: 992px) {
        .blog-slider {
            max-width: 680px;
            height: 400px;
        }
    }

    @media screen and (max-width: 768px) {
        .blog-slider {
            min-height: 500px;
            height: auto;
            margin: 20px auto;
        }

        .planItem img {
            margin-right: 3px;
        }

        .planItem {
            padding-left: 5px;
        }
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider {
            height: 350px;
        }
    }

    .blog-slider__item {
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 768px) {
        .blog-slider__item {
            flex-direction: column;
        }
    }

    .blog-slider__item.swiper-slide-active .blog-slider__img img {
        opacity: 1;
        transition-delay: 0.3s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>* {
        opacity: 1;
        transform: none;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(1) {
        transition-delay: 0.3s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(2) {
        transition-delay: 0.4s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(3) {
        transition-delay: 0.5s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(4) {
        transition-delay: 0.6s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(5) {
        transition-delay: 0.7s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(6) {
        transition-delay: 0.8s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(7) {
        transition-delay: 0.9s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(8) {
        transition-delay: 1s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(9) {
        transition-delay: 1.1s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(10) {
        transition-delay: 1.2s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(11) {
        transition-delay: 1.3s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(12) {
        transition-delay: 1.4s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(13) {
        transition-delay: 1.5s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(14) {
        transition-delay: 1.6s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content>*:nth-child(15) {
        transition-delay: 1.7s;
    }

    .blog-slider__img {
        width: 300px;
        flex-shrink: 0;
        height: 300px;
        background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        /* background-image: linear-gradient(147deg, #55dadeb3 50%, #ffffff 50%); */
        box-shadow: 4px 10px 8px 1px #dbeeefb3;
        border-radius: 20px;
        transform: translateX(-80px);
        overflow: hidden;
        /* background: white; */
    }

    .blog-slider__img:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 0.8;
    }

    .blog-slider__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        border-radius: 20px;
        transition: all 0.3s;
    }

    @media screen and (max-width: 768px) {
        .blog-slider__img {
            transform: translateY(-50%);
            width: 90%;
        }
    }

    @media screen and (max-width: 576px) {
        .blog-slider__img {
            width: 95%;
        }
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider__img {
            height: 270px;
        }
    }

    .blog-slider__content {
        padding-right: 25px;
    }

    @media screen and (max-width: 768px) {
        .blog-slider__content {
            margin-top: -80px;
            text-align: center;
            padding: 0 30px;
        }
    }

    @media screen and (max-width: 576px) {
        .blog-slider__content {
            padding: 0;
        }
    }

    .blog-slider__content>* {
        opacity: 0;
        transform: translateY(25px);
        transition: all 0.4s;
    }

    .blog-slider__code {
        color: #7b7992;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
    }

    .blog-slider__title {
        font-size: 24px;
        font-weight: 700;
        color: #0d0925;
        margin-bottom: 20px;
    }

    .blog-slider__text {
        color: #4e4a67;
        margin-bottom: 30px;
        line-height: 1.5em;
    }

    .blog-slider__button {
        display: inline-flex;
        background: linear-gradient(90deg, rgba(6, 182, 251, 1) 10%, rgba(252, 151, 244, 1) 48%, rgba(255, 203, 2, 1) 90%);
        padding: 15px 35px;
        border-radius: 50px;
        color: #fff;
        box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
        text-decoration: none;
        font-weight: 500;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
    }

    @media screen and (max-width: 576px) {
        .blog-slider__button {
            width: 100%;
        }
    }

    .blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,
    .blog-slider .swiper-pagination-custom,
    .blog-slider .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .blog-slider__pagination {
        position: absolute;
        z-index: 21;
        right: 20px;
        width: 11px !important;
        text-align: center;
        left: auto !important;
        top: 50%;
        bottom: auto !important;
        transform: translateY(-50%);
    }

    @media screen and (max-width: 768px) {
        .blog-slider__pagination {
            transform: translateX(-50%);
            left: 50% !important;
            top: 205px;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 8px 0;
    }

    @media screen and (max-width: 768px) {
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 5px;
        }
    }

    .blog-slider__pagination .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: #062744;
        opacity: 0.2;
        transition: all 0.3s;
    }

    .blog-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #6ccb10;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
    }

    @media screen and (max-width: 768px) {
        .blog-slider__pagination .swiper-pagination-bullet-active {
            height: 11px;
            width: 30px;
        }
    }

    @media screen and (max-width: 425px) {
        .bd {
            padding-top: 28% !important;
        }

        .blog-slider__title {
            font-size: 19px !important;
        }

        .blog-slider__text {
            font-size: 14px !important;
        }

        .blog-slider__pagination {
            top: 205px !important;
        }

        .moreInsurance .h2 {
            font-size: 18px !important;
        }

        .moreInsurance .allInsurance li.title {
            font-size: 14px !important;
        }

        .moreInsurance .allInsurance li {
            font-size: 13px !important;
        }

        .moreInsurance .allInsurance li a {
            padding: 0 !important;
        }

        .quetma img {
            width: 100px !important;
        }

        .moreInsurance .allInsurance {
            width: 49% !important;
        }
    }

    /* @media screen and (max-width:375px) {
        .jss108 {
            height: 400px !important;
        }

    } */

    @media screen and (max-width:320px) {
        .blog-slider__img {
            height: 200px !important;
        }

        .blog-slider {
            min-height: 380px !important;
        }

        .blog-slider__pagination {
            top: 175px !important;
        }

    }
</style>
<!-- reponhight -->
<!-- <style>
    @media (max-width: 3000px) and (min-width:2560px) {
        .container {
            max-width: 2800px;
        }

        .planItem__text a {
            font-size: 40px;
        }

        .planItem img {
            width: 60px;
            height: 60px;
        }

        .planItem {
            height: 190px;
        }

        .jss111 {
            font-size: 28px;
        }

        .MuiTypography-h2 {
            font-size: 35px;
        }

        .blog-slider {
            max-width: 1300px !important;
        }

        .blog-slider__title {
            font-size: 35px;
        }

        .blog-slider__text {
            font-size: 30px;
        }

        .investorLogo .logo {
            height: 165px;
        }

        .moreInsurance .allInsurance li.title {
            font-size: 25px;
        }

        .moreInsurance .allInsurance li a {
            font-size: 22px;
        }

        .footerLink ul li a {
            font-size: 20px;
        }

        .footerLegal .footer_title .h2 {
            font-size: 25px;
        }

        .getapp h1 {
            font-size: 32px;
        }

        .getapp p {
            font-size: 20px;
        }

        .footerLegal .info {
            font-size: 25px;
            line-height: 25px;
        }
    }

    @media (max-width: 2560px) and (min-width:2200px) {
        .container {
            max-width: 2400px !important;
        }

        .planItem {
            height: 130px;
        }

        .planItem__text a {
            font-size: 30px;
        }

        .planItem__text span {
            font-size: 22px;
        }

        .mainText h1 {
            font-size: 40px;
        }

        .mainText p {
            font-size: 32px;
        }
    }

    @media (max-width: 2200px) and (min-width:1800px) {
        .container {
            max-width: 2000px !important;
        }

        .planItem {
            height: 120px;
        }

        .planItem__text span {
            font-size: 18px;
        }

        .planItem__text a {
            font-size: 25px;
        }

        .planItem img {
            width: 60px;
            height: 60px;
        }
    }

    @media (max-width: 1800px) and (min-width:1440px) {
        .container {
            max-width: 1700px !important;
        }

        .planItem img {
            width: 50px;
            height: 50px;
        }

        .planItem__text a {
            font-size: 20px;
        }

        .planItem__text span {
            font-size: 16px;
        }
    }
    .footerLegal .info{
        color: rgb(131, 129, 129);
    }
</style> -->
<!-- endrepon -->
<style>
    .jss108{
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section class="landingSlide ft">
    <div class="slider-image">
        <img style="width: 100%;" src='{% static "core/images/bnnew-01.svg" %}'>
    </div>
    <div class="mainText">
        <h1>CHỌN LOẠI NEM PHÙ HỢP VỚI KHẨU VỊ CỦA BẠN !</h1>
        <p>Chúng tôi có Nem thịt lợn và Nem thịt bò với gia vị 3 miền !</p>
    </div>
    <div class="plan-wrapper">
        <div class="container">
            <div class="plan">
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_1.svg' %}" alt="Sản phẩm bảo hiểm tử kỳ">
                    <div class="planItem__text">
                        <a href="{% url 'termlife:life-product' %}">Cơm Trưa Văn Phòng 
                            <span class="span-bv"><b>Nem Thịt Lợn</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_2.svg' %}" alt="Sản phẩm bảo hiểm đầu tư">
                    <div class="planItem__text">
                        <a href="{% url 'investment:investment' %}">Xôi Nem Thịt Lợn
                            <span class="span-bv"><b>Vị Miền Bắc</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_2.svg' %}" alt="Sản phẩm bảo hiểm tích lũy">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Xôi Nem Thịt Bò 
                            <span class="span-bv"><b>Vị Miền Bắc</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_4.svg' %}" alt="Sản phẩm bảo hiểm giáo dục">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Nem Thịt Lợn
                            <span class="span-bv"><b>Vị Miền Bắc</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_1.svg' %}" alt="Sản phẩm bảo hiểm hưu trí">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Cơm Trưa Văn Phòng
                            <span class="span-bv"><b>Nem Thịt Bò</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_2.svg' %}" alt="Bảo hiểm sức khỏe cá nhân">
                    <div class="planItem__text">
                        <a href="{% url 'personalhealth' %}">Xôi Nem Thịt Lợn
                            <span class="span-bv"><b>Vị Miền Trung</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_2.svg' %}" alt="Bảo hiểm sức khỏe doanh nghiệp">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Xôi Nem Thịt Bò
                            <span class="span-bv"><b>Vị Miền Trung</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_4.svg' %}" alt="Bảo hiểm tai nạn cá nhân">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Nem Thịt Lợn 
                            <span class="span-bv"><b>Vị Miền Trung</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_1.svg' %}" alt="Trợ cấp y tế nằm viện">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Cơm Trưa Văn Phòng
                            <span class="span-bv"><b>Nem Thịt Lợn + Trứng Hấp</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_2.svg' %}" alt="Bảo hiểm bệnh hiểm nghèo">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Xôi Nem Thịt Lợn
                            <span class="span-bv"><b>Vị Miền Nam</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_2.svg' %}" alt="Bảo hiểm bệnh ung thư">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Xôi Nem Thịt Bò
                            <span class="span-bv"><b>Vị Miền Nam</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_4.svg' %}" alt="Bảo hiểm trách nhiệm dân sự ô tô">
                    <div class="planItem__text">
                        <a href="{% url 'tndsoto:thong-tin-o-to' %}">Nem Thịt Lợn
                            <span class="span-bv"><b>Vị Miền Nam</b></span>
                        </a>
                    </div>
                </div>

                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_1.svg' %}" alt="Bảo hiểm vật chất xe">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Cơm Trưa Văn Phòng
                            <span class="span-bv"><b>Nem Thịt Bò + Trứng Hấp</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_4.svg' %}" alt="Bảo hiểm học sinh sinh viên">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Nem Thịt Bò 
                            <span class="span-bv"><b>Vị Miền Bắc</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_4.svg' %}"
                        alt="bảo hiểm trách nhiệm dân sự xe máy">
                    <div class="planItem__text">
                        <a href="{% url 'tndsxemay:thong-tin-xe-may' %}">Nem Thịt Bò
                            <span class="span-bv"><b>Vị Miền Trung</b></span>
                        </a>
                    </div>
                </div>
                <div class="planItem">
                    <img src="{% static 'core/images/icon/icon-color_4.svg' %}" alt="Bảo hiểm du lịch Việt Nam">
                    <div class="planItem__text">
                        <a href="{% url 'coming_soon_url' %}">Nem Thịt Bò
                            <span class="span-bv"><b>Vị Miền Nam</b></span>
                        </a>
                    </div>
                </div>

              
            
            </div>

        </div>
    </div>
</section>
<section class="madeEasy1 animated fadeInUp">
    <div class="mainImg ">
        {% blocktrans %}
        {% endblocktrans %}
        <img style="width: 100%;" class="chuarepon" src="{% static 'core/images/quytrinh.svg' %}" alt="">
        <img style="width: 100%;display: none;" class="reponrobot" src="{% static 'core/images/robottv360x180.svg' %}">
    </div>
    <div class="space-height" style="height: 50px"></div>
    <div class="background-dangky">
        <div class="box-br">
            <h3>Nem Nướng Hoa Lệ </h3>
            <h3 class="texth3">Xem Video hướng dẫn chế biến nhanh chỉ trong 5 phút !!</h3>
            {% if user.is_authenticated %}
            <a data-toggle="modal" data-target="#modal_robot" class="bton-start">BẮT ĐẦU</a>
            {% else %}
            <a data-toggle="modal" data-target="#modal_norobot" class="bton-start">BẮT ĐẦU</a>
            {% endif %}
        </div>
    </div>
    <div class="mainText main-like">
        <h1 class="mt-3">TOP CÁC SẢN PHẨM ĐANG ĐƯỢC ƯA THÍCH NHẤT</h1>
        <p>Bao gồm các sản phẩm được mua nhiều nhất trên online!</p>
    </div>
    <div class="container" style="width: 100%;">
        <div class="row slic">

            <div class="col-lg-4 mb-4 col-md-4">
                <figure class="jss108"><img src="{% static 'core/images/xe1.svg' %}" alt="product">
                    <hr>
                    <a href=""><figcaption>
                        <div class="jss109">
                            <h2
                                class="MuiTypography-root jss110 MuiTypography-h2 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                CƠM TRƯA VĂN PHÒNG</h2>
                            <p
                                class="MuiTypography-root jss110 jss111 MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                Nem thịt lợn + trứng hấp</p>
                            <hr class="MuiDivider-root jss112 MuiDivider-middle">
                            <p
                                class="MuiTypography-root jss113 MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                Cơm trưa văn phòng ngon đảm bảo sức khỏe cho các bạn làm văn phòng và số lượng mỗi ngày có hạn xin vui lòng đặt trước.</p>
                            <a href="">
                                <button
                                    class="MuiButtonBase-root MuiButton-root jss114 MuiButton-contained MuiButton-containedSecondary"
                                    tabindex="0" type="button"><span class="MuiButton-label">
                                        <h6
                                            class="MuiTypography-root MuiTypography-h6 MuiTypography-colorTextSecondary">
                                            Tìm hiểu ngay</h6>
                                    </span><span class="MuiTouchRipple-root"></span></button>
                            </a>
                        </div>
                    </figcaption></a>
                </figure>
            </div>

            <div class="col-lg-4 mb-4 col-md-4">
                <figure class="jss108"><img src="{% static 'core/images/dautu.svg' %}" alt=" product">
                    <hr>
                    <a href=""><figcaption>
                        <div class="jss109">
                            <h2
                                class="MuiTypography-root jss110 MuiTypography-h2 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                XÔI NEM THỊT LỢN</h2>
                            <p
                                class="MuiTypography-root jss110 jss111 MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                Xôi nem thịt lợn + trứng hấp</p>
                            <hr class="MuiDivider-root jss112 MuiDivider-middle">
                            <p
                                class="MuiTypography-root jss113 MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                Xôi được bán ăn chiều và ăn đêm dành cho mọi người với hương vị lên men tự nhiên của nem đem đến một cảm giác ngon miệng cho người ăn</p>
                            <a href="">
                                <button
                                    class="MuiButtonBase-root MuiButton-root jss114 MuiButton-contained MuiButton-containedSecondary"
                                    tabindex="0" type="button"><span class="MuiButton-label">
                                        <h6
                                            class="MuiTypography-root MuiTypography-h6 MuiTypography-colorTextSecondary">
                                            Tìm hiểu ngay</h6>
                                    </span><span class="MuiTouchRipple-root"></span></button>
                            </a>
                        </div>
                    </figcaption></a>
                </figure>
            </div>
            <div class="col-lg-4 mb-4 col-md-4">
                <figure class="jss108"><img src="{% static 'core/images/home.svg' %}" alt="product">
                    <hr>
                    <a href=""><figcaption>
                        <div class="jss109">
                            <h2
                                class="MuiTypography-root jss110 MuiTypography-h2 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                NEM NƯỚNG THỊT BÒ</h2>
                            <p
                                class="MuiTypography-root jss110 jss111 MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                Nem nướng thịt bò vị miền nam </p>
                            <hr class="MuiDivider-root jss112 MuiDivider-middle">
                            <p
                                class="MuiTypography-root jss113 MuiTypography-body1 MuiTypography-colorTextSecondary MuiTypography-alignCenter">
                                Nem nướng đậm đà ngon, thơm, thịt có vị ngọt hòa quyện cùng các nguyên liệu tự nhiên</p>
                            <a href="">
                                <button
                                    class="MuiButtonBase-root MuiButton-root jss114 MuiButton-contained MuiButton-containedSecondary"
                                    tabindex="0" type="button"><span class="MuiButton-label">
                                        <h6
                                            class="MuiTypography-root MuiTypography-h6 MuiTypography-colorTextSecondary">
                                            Tìm hiểu ngay</h6>
                                    </span><span class="MuiTouchRipple-root"></span></button>
                            </a>
                        </div>
                    </figcaption></a>
                </figure>
            </div>
        </div>
    </div>

    <div class="mainText">
        <h1 style="text-transform: uppercase;">TẠI SAO MỌI NGƯỜI YÊU THÍCH NEM HOA LỆ</h1>
        <p>Chúng tôi đem lại hương vị xưa với thịt lợn ngon và nguyên liệu tự nhiên</p>
    </div>
    <div class="bd">
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">

                        <img src="{% static 'core/images/icon/VisaothichVnRobot-01.svg' %}" alt="vì sao thích FinPlus">
                    </div>
                    <div class="blog-slider__content">

                        <div class="blog-slider__title">THỊT LỢN SẠCH</div>
                        <div class="blog-slider__text">Thịt lợn được tuyển chọn kỹ càng
                            Lợn nuôi theo quy trình tự nhiên </div>
                        <a href="" class="blog-slider__button">XEM CHI TIẾT</a>
                    </div>
                </div>
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="{% static 'core/images/icon/VisaothichVnRobot-02.svg' %}" alt="Vì sao thích FinPlus">
                    </div>
                    <div class="blog-slider__content">

                        <div class="blog-slider__title">LÊN MEN TỰ NHIÊN</div>
                        <div class="blog-slider__text">Ngô và gạo ngon
                            rang thơm và xay trộn cùng với thịt lợn mới mổ</div>
                        <a href="" class="blog-slider__button">XEM CHI TIẾT</a>
                    </div>
                </div>

                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="{% static 'core/images/icon/VisaothichVnRobot-03.svg' %}" alt="Vì sao thích FinPlus">
                    </div>
                    <div class="blog-slider__content">

                        <div class="blog-slider__title">CẢI THIỆN KHÔNG NGỪNG</div>
                        <div class="blog-slider__text">Chúng tôi luôn cải thiện về hương vị để phù hợp với món ăn 3 miền </div>
                        <a href="" class="blog-slider__button">XEM CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="blog-slider__pagination"></div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

{% block javascript_block %}
<script src="{% static 'core/js/swiper.min.js' %}" type="text/javascript"></script>
<script>
    var swiper = new Swiper('.blog-slider', {
        spaceBetween: 30,
        effect: 'fade',
        loop: true,
        mousewheel: {
            invert: false,
        },
        // autoplay: {
        //     delay: 1000,
        // },
        // autoHeight: true,
        pagination: {
            el: '.blog-slider__pagination',
            clickable: true,
        }
    });
</script>
<script type="text/javascript">
    var addClass = function (currentItem) {
        currentItem.classList.add('active');
        currentItem.parentElement.children[1].classList.add('slidedown');
    };
    var removeClass = function () {
        for (var i = 0; i < submenuopen.length; i++) {
            submenuopen[i].classList.remove('active');
            submenuopen[i].parentElement.children[1].classList.remove('slidedown');
        }
        addClass(this);
    };

    function openNav() {
        var mobNav = document.getElementById("mobNav");
        mobNav.style.width = "250px";
        //document.body.style.backgroundColor = "rgba(0,0,0,0.6)";
    }
    /* Set the width of the side navigation to 0 */
    function closeNav() {
        var mobNav = document.getElementById("mobNav");
        mobNav.style.width = "0px";
        document.body.style.backgroundColor = "white";
    }
    var submenuopen = document.getElementsByClassName("submenu");
    for (var i = 0; i < submenuopen.length; i++) {
        submenuopen[i].addEventListener('click', removeClass, false);
    }
    var fixed = document.getElementById('mobNav');
    if (fixed) {
        try {
            fixed.addEventListener('touchmove', function (e) {
                e.preventDefault();
                e.preventDefault();
            }, false);
        } catch (e) { }
    }
</script>
{% endblock %}